---
{
     "urlFormat": "index.html"
}
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yext Consumer Auth</title>
    <meta name="description" content="How you can Protect Your Website with Yext!">
    {{>head}}
    {{!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">

  {{>styles}}
  <link
    rel="stylesheet"
    type="text/css"
    href="https://assets.sitescdn.net/answers-search-bar/v1.0/answers.css"
  />
  <script src="https://assets.sitescdn.net/answers-search-bar/v1.0/answerstemplates.compiled.min.js"></script>
  <script>
    function initAnswers() {
      ANSWERS.init({
        apiKey: window.YEXT_TOKENS.yextAuthToken.token,
        visitor: window.YEXT_AUTH.visitor,
        experienceKey: "authorized-search-1",
        experienceVersion: "PRODUCTION",
        locale: "en", // e.g. en
        businessId: "2668396",
        templateBundle: TemplateBundle.default,
        onReady: function() {
          ANSWERS.addComponent("SearchBar", {
            container: ".search_form",
            name: "search-bar", //Must be unique for every search bar on the same page
            redirectUrl: "https://master-immobile--eligible--trapezoid-sbx-pgsdemo-com.sbx.preview.pagescdn.com/",
            placeholderText: "Search...",
          });
        },
      });
    }
  </script>
  <script
    src="https://assets.sitescdn.net/answers-search-bar/v1.0/answers.min.js"
    onload="ANSWERS.domReady(initAnswers)"
    async
    defer
  ></script>

</head>
  <div class="container mx-auto px-4">
    <body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

        {{>navbar}}

      <div class="w-full m-0 p-0 bg-cover bg-bottom" style="background-image:url('/images/luxurystore.jpg'); height: 60vh; max-height:460px;"></div>

        {{>image-banners}}

      {{>footer}}

    </body>
  </div>
</html>
